.footer__img {
  width: 2.9rem;
  height: 2.9rem;
}

.footer__img:not(:last-child) {
  margin-bottom: 1.7rem;
}

@media (max-width: 48em) {
  .footer__img {
    font-weight: 400;
    font-size: 3rem;
    line-height: 140%;
  }
}
