.form__item {
  display: flex;

  &:first-child {
    margin-bottom: 2.3rem;
  }
}

@media (max-width: 48em) {
  .form__item {
    flex-direction: column;
    width: 49.8rem;
    margin: 0;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;

    &:first-child {
      margin-bottom: 0rem;
    }

    &:last-child {
      height: 2rem;
    }
  }
}
