.button-slide {
  color: #ffffff;
  background: #0074d4;
  box-shadow: 0rem 4.3rem 5.1rem rgba(0, 116, 212, 0.2),
    0rem 1.29632rem 1.5375rem rgba(0, 116, 212, 0.241),
    0rem 0.538427rem 0.638599rem rgba(0, 116, 212, 0.15),
    0rem 0.194738rem 0.230969rem rgba(0, 116, 212, 0.059);
  border-radius: 0.8rem;

  padding: 2.6rem 3.8rem 3rem 3.8rem;
  width: 29.7rem;
  @include font(600, 1.8rem, 140%);
  cursor: pointer;
  width: auto;
}

.button-slide-mobile {
  display: none;
}

@media (max-width: 48em) {
  .button-slide {
    display: none;
  }

  .button-slide-mobile {
    display: block;
    color: #ffffff;
    box-shadow: 0rem 1.29632rem 1.5375rem rgba(0, 116, 212, 0.241),
      0rem 0.538427rem 0.638599rem rgba(0, 116, 212, 0.15),
      0rem 0.194738rem 0.230969rem rgba(0, 116, 212, 0.059);
    align-items: center;
    padding: 2.4rem 3.5rem 3rem 3.5rem;
    width: auto;
    margin-bottom: 4.7rem;
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 140%;

    background: #0074d4;
    border-radius: 0.8rem;
  }
}
