.form__label {
  position: relative;
  z-index: 100;

  &:nth-child(1) {
    .form__input--style {
      background: url(../img/form/user.svg) #576077;
      background-repeat: no-repeat;
      background-size: 2.4rem;
      background-position-x: 3.4rem;
      background-position-y: 50%;
    }
  }

  &:nth-child(2) {
    margin-left: 1.4rem;
    margin-right: 1.4rem;

    .form__input--style {
      background: url(../img/form/phone.svg) #576077;
      background-repeat: no-repeat;
      background-size: 2.4rem;
      background-position-x: 3.4rem;
      background-position-y: 50%;
    }
  }
}

@media (max-width: 48em) {
  .form__label {
    margin-bottom: 2.4rem;
    &:nth-child(2) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
